@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

.container-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 5px;

  .search-bar {
    width: 100%;

    form {
      margin: auto;
      padding: 15px;
      max-width: 400px;

      .search-input {
        display: inline-block;
        border-right: 1px solid rgb(37, 32, 32);
        margin-bottom: 0;

        width: 75%;
      }

      .search-submit {
        display: inline-block;
        background-color: var(--light-green);
        margin-bottom: 0;
        cursor: pointer;
        width: 25%;
        padding: 0;
      }
    }
  }

  .container-category-and-sort {
    display: flex;
    flex-direction: row;

    @media (max-width: 500px) {
      flex-direction: column;
    }

    .container-category {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      margin-right: 10px;
      color: var(--light-yellow-text);

      label {
        font-size: medium;
        margin-right: 5px;
        font-weight: 900;
      }

      select {
        border: 1px solid var(--white);
        border-radius: 5px;

        option {
          border-radius: 10px;
        }
      }
    }

    .container-sort {
      display: flex;
      flex-direction: row;
      margin-bottom: 15px;
      color: var(--light-yellow-text);

      label {
        font-size: medium;
        margin-right: 5px;
        font-weight: 900;
      }

      select {
        border: 1px solid var(--white);
        border-radius: 5px;

        option {
          border-radius: 10px;
        }
      }
    }
  }

  .card-container {
    width: 100%;
    min-height: 352px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    border: 2px solid var(--main-red);
    background-color: #ffffff25;

    .card {
      background-color: var(--light-yellow-background);
      width: 280px;
      height: 350px;
      border-radius: 25px;
      border: 1px solid var(--light-yellow-background);
      transition: 0.4s;
      cursor: pointer;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      margin: 25px 20px;

      &:hover {
        background-color: var(--dark-yellow-background);
        transform: scale(1.1);
        box-shadow: 0 0 10px rgba(255, 255, 255, 1);

        .info {
          font-weight: bold;
        }
      }

      .content {
        text-align: center;
        padding: 5px 10px 10px 10px;
        color: black;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        h1 {
          font-family: 'Gloock';
          color: var(--blue);
          font-size: 20px;
        }

        .card-description {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          margin-left: 30px;
          display: -webkit-box;
          max-width: 200px;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }

        .info {
          text-align: center;
        }
      }

      .image {
        height: 150px;
        display: flex;
        justify-content: center;
        background-color: var(--light-yellow-background);
        border-bottom: 1px solid black;
        object-fit: cover;

        img {
          width: 100%;
          height: auto;
          object-fit: fill;
        }
      }
    }
  }

  .container-items-per-page {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    color: var(--light-yellow-text);

    label {
      font-size: medium;
      margin-right: 5px;
      font-weight: 900;
    }

    select {
      border: 1px solid var(--white);
      border-radius: 5px;

      option {
        border-radius: 10px;
      }
    }
  }
}
