@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

.container-create {
  background: var(--lighter-yellow-background);
  padding: 0 20px 20px 20px;
  margin: 5px 22px 22px 5px;
  border: 2px solid black;
  box-shadow: 15px 15px 1px var(--orange), 15px 15px 1px 2px black;
  flex: 1;
  max-width: 500px;

  h1 {
    text-align: center;
    color: var(--dark-blue-text);
  }

  .label-input {
    display: flex;
    flex-direction: row;
    margin-top: 20px;

    label {
      color: var(--dark-blue-text);
      font-family: 'Fjalla One';
      font-size: larger;
      font-weight: 500;
      padding: 5px 10px 0 0;
      font-size: 16px;
      width: fit-content;
    }
  }
}

.error {
  text-align: center;
  color: var(--error-salmon);
  font-size: larger;
  font-weight: 900;
  margin-bottom: 10px;
}

input {
  flex: 1;
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 35px;
  font-family: 'Fjalla One';
  margin-bottom: 15px;
  border: none;
  border-bottom: 2px solid rgb(97, 97, 97);
  background: var(--lighter-yellow-background);
  padding-left: 5px;
  outline: none;
  color: var(--dark-blue-text);
}

input:focus {
  border-bottom: 2px solid var(--orange);
}

.button-create {
  display: block;
  margin: 0 auto;
  line-height: 28pt;
  padding: 0 20px;
  background: var(--lighter-yellow-background);
  letter-spacing: 2px;
  transition: 0.2s all ease-in-out;
  outline: none;
  border: 1px solid black;
  box-shadow: 3px 3px 1px 1px var(--orange), 3px 3px 1px 2px black;
}
.button-create:hover {
  box-shadow: none;
  cursor: pointer;
  background: var(--orange);
  border: 1px solid black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border-bottom: 2px solid var(--orange);
  -webkit-text-fill-color: var(--dark-blue-text);
  -webkit-box-shadow: 0 0 0px 1000px var(--lighter-yellow-background) inset;
  transition: background-color 5000s ease-in-out 0s;
}
