footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 30px;
  text-align: center;
  color: var(--white);
  background-color: var(--dark-grey);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  span {
    a {
      all: unset;
      cursor: pointer;
      color: var(--white);
      font-size: 15px;
      text-decoration: underline;
    }
  }
}
