@import './components/Header/Header.module.scss';
@import './components/Footer/Footer.module.scss';
@import './components/Home/Home.module.scss';
@import './components/LoginRegister/LoginRegister.module.scss';
@import './components/Catalog/Catalog.module.scss';
@import './components/Create/Create.module.scss';
@import './components/Details/Details.module.scss';
@import './components/NotFoundError/NotFoundError.module.scss';
@import './components/News/News.module.scss';
@import './components/About/About.module.scss';
@import './components//others//SpinnerNote.module.scss';

:root {
  --white: white;
  --blue: #3e63df;
  --dark-blue: #395b85;
  --orange: #ffa580;
  --dark-grey: #313131;
  --main-red: #cb6074;
  --main-red-darker: #c03e56;
  --orange-button: #ff8f62;
  --white-text: #f0e7e7;
  --light-yellow-text: #fff1c6;
  --dark-blue-text: #2a293e;
  --light-green: rgb(131, 204, 109);
  --light-yellow-background: #ffebb3;
  --lighter-yellow-background: #f8f4e5;
  --dark-yellow-background: #ffd86b;
  --error-salmon: salmon;
}

::selection {
  background: #a863a8;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./images/movie-posters.jpg');
  background-size: cover;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#main {
  flex: 1;
  height: 100%;
  margin-top: 53.5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--light-yellow-text);
}

// Spinner ===
.loader {
  width: 48px;
  height: 48px;
  border: 5px dotted var(--error-salmon);
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// === Spinner
